{
  "presets": [
    [
      "latest",
      {
        "es2015": {
          "modules": false
        }
      }
    ],
    [
      "react"
    ]
  ],
  "plugins": [
    "external-helpers"
  ],
  "ignore": [
    "*/*.coffee"
  ]
}